:root {
  margin: 0;
  font-size: 62.5%;
  background-color: #0D161C;
  color: #DBCAAF;
  font-family: "Inter", sans-serif;
}

h1 {
  font-family: "DM Serif Display", sans-serif;
  font-size: 4rem;
  font-weight: 500;
}

.small-header-text {
  font-size: 2rem;
  font-weight: 400;
}

.gif {
  border-radius: 16px;
}

input {
  padding-left: 16px;
}